* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 40px;
    width: 80px;
}

input {
    height: 50px;
    width: 200px;
    display: inline-block;
}

.seacher {
    display: inline-block;
}